button {
    background-color: var(--seafoam-green);
    color: #222;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    padding: 1em 2em 1em 2em;
    /* margin-top: 3em; */
    border: none;
    /* border-radius: 5px; */
    font-family: 'Helvetica', sans-serif;
}

button:hover {
    color: white;
}
