body {
  background-color: var(--background-black);
}

button {
  background-color: var(--green);
  color: var(--background-black);
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  padding: .5em 2em .5em 2em;
  border: none;
  outline: none;
  /* border-radius: 5px; */
}

button:hover {
  color: white;
}
