/*
  https://stackoverflow.com/questions/8549529/what-is-the-difference-between-screen-and-only-screen-in-media-queries/14168210#14168210
  https://www.codegrepper.com/code-examples/css/mobile+only+css
*/

@media screen and (min-width: 861px) {
  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    /* display: initial !important; */
  }
}

@media only screen and (max-width: 860px) {
  .desktop-only {
    display: none !important;
  };

  .mobile-only {
    /* display: initial !important; */
  }
}
