.text-segment {
    margin-top: 4em;
    margin-bottom: 2em;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 180px);
}

.wide-80 {
    width: 80vw;
}

.center-horizontally {
    text-align: center;
}

.next {
    text-align: right;
}

