:root{
  --navbar-height: 100px;
}

.text-segment {
  margin-top: 4em;
  margin-bottom: 2em;
}

.next-desktop {
  margin-top: 3em;
  text-align: right;
}

.next-mobile {
  margin-top: 3em;
  text-align: center;
}

.negative-space-row {
  height: 4em;
}

.negative-space-column {
  width: 2em;
}
