.text-segment {
  margin-top: 4em;
  margin-bottom: 2em;
}

.next-desktop-right {
  margin-top: 3em;
  text-align: right;
}

.next-desktop-center {
  margin-top: 3em;
  text-align: center;
}

.next-mobile {
  margin-top: 3em;
  text-align: center;
}

.negative-space-row {
  height: 4em;
}

.negative-space-column {
  width: 2em;
}

@media only screen and (max-width: 860px) {
  .mobile-full-width {
    width: 100%;
    max-width: 100%;
  }
}

.full-width {
  width: 100%;
}
