html {font-size: 100%;} /*16px*/

/*
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

@font-face {
  font-family: "Avenir Black";
  src: url("../../fonts/Avenir/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Book";
  src: url("../../fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
}

*/

@font-face {
  font-family: "Avenir Roman";
  src: url("/fonts/Avenir/AvenirLTStd-Roman.otf") format("opentype");
}

body {
  background: white;
  font-family: 'Avenir', 'Avenir Roman', 'Montserrat', 'Helvetica', sans-serif;
  line-height: 1.75;
}

p {
  color: var(--white);
  margin-bottom: 1rem;
  margin-top: 0px;
  line-height: calc(1ex / 0.32);
}

textarea {
  font-family: 'Avenir', 'Avenir Roman', 'Montserrat', 'Helvetica', sans-serif;
  font-size: 16px;
}

input {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 7.594rem;
  font-weight: 800;
  color: var(--green);
}

h2 {
  font-size: 5.063rem;
  font-weight: 700;
  color: var(--green);
}

h3 {
  font-size: 3.375rem;
  font-weight: 600;
  color: var(--green);
}

h4 {
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--green);
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

small, .text_small {
  font-size: 0.667rem;
}

button {
  font-family: 'Avenir', 'Avenir Roman', 'Montserrat', 'Helvetica', sans-serif;
  font-size: 1.25em;
}
